@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato-light.woff2') format('woff2'),
	     url('/fonts/lato-light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato-semibold.woff2') format('woff2'),
    	 url('/fonts/lato-semibold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato-regular.woff2') format('woff2'),
    	 url('/fonts/lato-regular.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato-italic.woff2') format('woff2'),
    	 url('/fonts/lato-italic.woff') format('woff');
    font-style: italic;
    font-weight: 500;
    font-display: fallback;
}

body {
	background: #fff;
	color: #000;
	font-family: 'Avenir Next', "Segoe UI", Helvetica, 'Droid Sans', Arial, sans-serif;
	line-height: 1.375;
	margin: 0;
	padding: 0;
	font-weight: 500;
	position: relative;
}

.wf-active body {
	font-family: 'Lato', 'Avenir Next', "Segoe UI", Helvetica, 'Droid Sans', Arial, sans-serif;
}

/* @group Header */

header {
	background: rgb(51,51,51);
	color: #eee;
	position: relative;
	z-index:100;
}

header h1 {
	text-align: center;
	font-size: 0.875rem;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: .071428571em;
	padding: 1em 0;
	margin: 0;
	font-weight: 500;
}

header a {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

header a img {
	width: 1.75rem;
	height: 1.75rem;
	vertical-align: top;
	padding: 0.4375rem;
	opacity: 0.9;
}

header a:focus img, header a:active img, header a:hover img {
	opacity:1;
}

.back {
	background: #e6e6e6;
	font-size: 0.875rem;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: .071428571em;
	padding: 1em 0 1em 0.4375rem;
	margin: 0;
	font-weight: 500;
	color: #000;
	display: block;
}

.back:hover, .back:focus, .back:active {
	background: #c6c6c6;
}

.back img {
	width: 1rem;
	height: 1rem;
	vertical-align: bottom;
}

/* @end */

abbr[title] {
	text-decoration: none;
}

main h1, main h2, main h3, p, ul, .cat-label, .cat-links a { /* side gutter */
	padding-left: 3%;
	padding-right: 3%;
}

.prose p, .prose ul {
	max-width: 40em;
	-webkit-hyphens:auto;
	hyphens:auto;
}

main a {
	text-decoration: none;
}

main a:hover, main a:focus, main a:active, #cat-about a:hover, #cat-about a:focus, #cat-about a:active {
	background: #e6e6e6;
}

main h1 {
	font-family: 'Avenir', 'Segoe UI', Helvetica, 'Droid Sans', Arial, sans-serif;
	font-size: 28px;
	font-size: 1.75rem;
	/*letter-spacing: -0.035714286em;*/
	line-height: 1;
	background: #f6f6f6;
	color: #000;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
	font-weight: 300;
}

.wf-active main h1 {
	font-family: 'Lato', 'Avenir', 'Segoe UI', Helvetica, 'Droid Sans', Arial, sans-serif;
}

main h2 {
	font-size: 21px;
	line-height: 1;
	font-weight: 600;
	margin: 1.571428571em 0 0.523809524em 0;
}

main h3 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.0625em;
	margin: 0.6875em 0;
	font-weight: 600;
}

h1 + h2 {
	margin-top: 1.047619048em;
}

ul + h3 {
	margin-top: 2.0625em;
}

main ul {
	margin: 0 0 0.6875em 0;
}

li {
	margin: 0 0 0.6875em 1.375em;
}

ul ul {
	margin: 0.6875em 0 0 0;
	padding-left:0;
}

figure.table {
	margin: 1.375em 0;
	overflow-x:auto;
}

@media only screen and (min-width: 35em) {
	figure.table {
		margin-left: 3%;
		margin-right: 3%;
	}
}

table {
	border-collapse: collapse;
}

th, td {
	text-align: left;
	line-height: 1.125;
}

td {
	vertical-align:top;
	padding: 0.5em;
	border-bottom: 1px solid #e6e6e6;
}

th {
	padding: 0.5em;
	vertical-align:top;
	border-bottom: 1px solid #e6e6e6;
}

thead th {
	vertical-align:bottom;
	border-bottom: 1px solid #a6a6a6;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	max-width: none;
}

th, strong, b {
	font-weight:500;
}

nav li {
	padding: 0;
	margin: 0;
}

.cat-input { display: none; }

.cat-label {
	cursor: pointer;
	display: block;
	padding-top:0.6875em;
	padding-bottom: 0.6875em;
	border-bottom: 1px solid #fff;
	background: #f6f6f6;
	color:#000;
}

.cat-label img, .cat-links img {
	width: 1em;
	height: 1em;
	float: right;
	padding-top: 0.125em;
}

.cat-panel {
	background: #fff;
}

.cat-panel:not(old) { /* hack to make <IE9 ignore this */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 100%;
	display: none;
}

.cat-panel:target {
	left: 0;
	display: block;
}

.cat-panel .back {
	margin-top: 2.625rem;
}

.cat-panel h1, .back, .cat-label img { /* for <IE9 */
	display:none;
}

.cat-panel:not(old) h1, .back:not(old), .cat-label:not(old) img { /* hack to make <IE9 ignore this */
	display:block;
}

.cat-links {
	border-top: 0;
}

.cat-links a {
	border-top: 0;
	display: block;
	padding-top:0.6875em;
	padding-bottom: 0.6875em;
	border-bottom: 1px solid #f6f6f6;
	background: #fff;
	color:#000;
}

#cat-about {
	font-size: 14px;
}

#cat-about a {
	background: #fff;
}

.intro {
	padding-bottom: 1.375em;
	margin: 1.375em 0 0 0;
	border-bottom: 1px solid #e6e6e6;
}

.byline {
	margin-top:2.75rem;
}

.doctor {
	white-space: nowrap;
}

footer {
	border-top: 2px solid #e6e6e6;
	padding-top: 1.375rem;
	padding-bottom: 1.375rem;
	margin-top: 2.75rem;
}

.home footer {
	margin-top: 0em;
	border-width: 1px;
}

footer p {
	font-size: 12px;
	font-size: .75rem;
	line-height: 1.5;
}

@media only screen and (min-width: 45em) {

	.cat-panel:target {
		left: 33.333%;
		width: auto;
		right: 0;
	}
	.categories {
		position: relative;
	}
	.categories ul.catlist {
		width: 33.333%;
	}
	.cat-panel .back {
		display: none;
	}
	.cat-panel h1 {
		font-size: 21px;
		background: #e6e6e6;
		border-bottom: 1px solid #fff;
	}
	.cat-label {
		padding-left: 9%;
	}

}
